.credits h2 {
  @media (max-width: 480px) {
    font-size: 20px;
  }

  @media (max-width: 380px) {
    font-size: 17px;
  }
}

.faqContent {
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 1024px) {
    max-width: 780px;
  }
}
