.container {
  height: 100%;
  width: 100%;
  min-width: 400px;
  background-color: white;
  position: relative;
  overflow-y: scroll;
}

.content {
  min-height: 300vh;
  position: relative;
  z-index: 1;
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contentInner {
  position: relative;
  z-index: 3;
  min-height: 100vh;
}

.footerImage {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 2000px;
  max-height: 50vh;
  object-fit: cover;
  object-position: top;
  z-index: 2;
}

.scrollbarOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  z-index: 100;
  pointer-events: none;
  background: linear-gradient(to left, rgba(255,255,255,0.01) 0%, transparent 100%);
}
