.container {
    height: 100vh;
    width: 100%;
    max-width: 2000px;
    margin-left: max(0px, calc((100vw - 2000px) / 2));
}

.header {
    margin: 0;
    padding: 25px;
    text-align: center;
    color: #6E6B60;
}